{% extends "layout.html" %}

{% block title %}
Katiyar
{% endblock %}

{% block content %}

<h1 class="text-center mt-4">Welcome to Katiyar's Django project</h1>
<h2> 
    {% if form.instance.pk %} 
    Edit Kweet 
    {% else %} 
    Create kweet 
    {% endif %} 
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <a href="{% url 'kweet_list' %}">Back to kweet list</a>
</h2>

{% endblock %}